<!DOCTYPE html>
<html lang="en">
  <!--
    The next iteration of our tisits website. Updates include
    dynamically pulling the tisits from our backend service via the network
    load balancer DNS name. There is also additional functionality for filtering
    tisits that we have yet to implement on the backend service.  You will see
    the buttons available on the webpage, but because that functionality isn't
    implemented on the backend, it does not yet work. You will implement it during
    module 3!
  -->
  <head>
    <title>tisits</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  </head>
  <body ng-app="tisitApp" style="background-color:#EBEBEB">
    <style>
      @media (max-width: 800px) {
      	img {
          max-width: 300px;
      	}
      }
    </style>
    <br>
    <div style="text-align: center">
      <img src="https://www.mythicalmysfits.com/images/mysfits_banner.gif" width="800px" align="center">
    </div>
    <div class="container" ng-controller="tisitsFilterController">
      <div id="filterMenu">
        <ul class="nav nav-pills">
          &nbsp;
          <li class="nav-item dropdown" ng-repeat="filterCategory in filterOptionsList.categories">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#!" role="button" aria-haspopup="true" aria-expanded="false">{{filterCategory.title}}</a>
            <div class="dropdown-menu" >
              <button class="dropdown-item" ng-repeat="filterCategorySelection in filterCategory.selections" ng-click="queryTisits(filterCategory.title, filterCategorySelection)">{{filterCategorySelection}}</button>
            </div>
          </li>
          &nbsp;
          <li class="nav-item " >
            <button type="button" class="btn btn-success" ng-click="removeFilter()">View All</button>
          </li>
        </ul>
      </div>
    </div>
    <br>
    <div class="container">
      <div id="tisitsGrid" class="row" ng-controller="tisitsListController">
          <div class="col-md-4 border border-warning" ng-repeat="tisit in tisits">
              <br>
              <p align="center">
                <strong> {{tisit.name}}</strong>
                <br>
                <img src="{{tisit.thumbImageUri}}" alt="{{tisit.Name}}">
              </p>
              <p>
                <br>
                <b>Species:</b> {{tisit.species}}
                <br>
                <b>Age:</b> {{tisit.age}}
                <br>
                <b>Good/Evil:</b> {{tisit.goodevil}}
                <br>
                <b>Lawful/Chaotic:</b> {{tisit.lawchaos}}
              </p>
          </div>
        </div>
      </div>
    <p>
      <br>
      <br>
      &nbsp;&nbsp;This site was created for use in the AWS Modern Application Workshop. <a href="https://github.com/aws-samples/aws-modern-application-workshop">Please see details here.</a>
    </p>
  </body>
  <script>

    var tisitsApiEndpoint = 'http://tisit-nlb-6bb80812996907f2.elb.us-east-2.amazonaws.com'; // example: 'http://mythi-publi-abcd12345-01234567890123.elb.us-east-1.amazonaws.com'

    var app = angular.module('tisitApp', []);

    var gridScope;

    var filterScope;

    app.controller('clearFilterController', function($scope) {
    });

    app.controller('tisitsFilterController', function($scope) {

      filterScope = $scope;

      // The possible options for tisits to populate the dropdown filters.
      $scope.filterOptionsList =
       {
         "categories": [
           {
             "title": "Good/Evil",
             "selections":  [
               "Good",
               "Neutral",
               "Evil"
             ]
           },
           {
             "title": "Lawful/Chaotic",
             "selections":  [
               "Lawful",
               "Neutral",
               "Chaotic"
             ]
           }
         ]
       };

       /*
          The View All button has been selected, retrieve all the tisits.
      */
       $scope.removeFilter = function() {
         allMysfits = getAlltisits(applyGridScope);
       }

       /*
         This API hasn't been implemented on the service backend yet. You will
         implement it during module 3!
       */
       $scope.queryTisits = function(filterCategory, filterValue) {

           var filterCategoryQS = "";
           if (filterCategory==="Good/Evil") {
             filterCategoryQS = "GoodEvil";
           } else {
             filterCategoryQS = "LawChaos"
           }
           var tisitsApi = tisitsApiEndpoint + '/tisits?' + 'filter=' + filterCategoryQS + "&value=" + filterValue;

           $.ajax({
             url : tisitsApi,
             type : 'GET',
             success : function(response) {
               applyGridScope(response.tisits)
             },
             error : function(response) {
               console.log("could not retrieve tisits list.");
               console.log(response.message);
             }
           });
       }



    });

    /*
      Populate the main mysfit grid on page load.
    */
    app.controller('tisitsListController', function($scope) {

      gridScope = $scope;

      getAlltisits(applyGridScope);

    });

    /*
      Reload the grid of tisits whenever a new list is retrieved based
      on the filters selected.
    */
    function applyGridScope(tisitsList) {
      gridScope.tisits = tisitsList;
      gridScope.$apply();
    }

    /*
      Retrieve the full list of tisits from the backend service API.
    */
    function getAlltisits(callback) {

      var tisitsApi = tisitsApiEndpoint + '/tisits';

      $.ajax({
        url : tisitsApi,
        type : 'GET',
        success : function(response) {
          callback(response.tisits);
        },
        error : function(response) {
          console.log("could not retrieve tisits list.");
          console.log(response.message);
        }
      });
    }


  </script>
</html>
